<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
<body>

    <form id="addGoodForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">商品名称</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="goodName">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">商品价格</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="goodPrice">
            </div>
        </div>
    </form>

</body>
</html>